@use "variables" as var;

.backgroundMain {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-size: auto 50%;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../img/background_index_tres.png") center/cover no-repeat;
    opacity: 0.4;
    z-index: -1;
  }
}

.backgroundMain_EncargaOnline {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background-size: auto 50%;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../img/encarga-online.jpeg") center/cover no-repeat;
    opacity: 0.4;
    z-index: -1;
  }
}
