@use "variables" as var;

.encargaOnline_principal {
  font-family: var.$font-titulos;
  font-size: 2rem;
  color: var.$color-principal;
  text-align: center;
  margin: 3rem 0 15rem 0;
}

form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 5rem;
}

fieldset {
  background: #fff8f5;
  border: 2px solid #D9BA5F;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;



  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  }
}

legend {
  font-family: var.$font-texto;
  font-size: 1.2rem;
  font-weight: bold;
  color: var.$color-principal;
  margin-bottom: 0.5rem;
}

input[type="checkbox"] {
  accent-color: #8C4303;
  transform: scale(1.2);
  margin-right: 0.5rem;
}

label {
  font-family: var.$font-texto;
  font-size: 1rem;
  color: var.$color-principal;
}

button {
  grid-column: span 4;
  padding: 0.8rem 1.2rem;
  font-size: 1.1rem;
  background: #D9BA5F;
  border: none;
  border-radius: 12px;
  color: white;
  font-family: var.$font-texto;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 3rem;

  &:hover {
    background: #8C4303;
  }
}

/* Responsive Tablets */
@media (max-width: 991px) {
  form {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 1rem;
  }
  button {
    grid-column: span 2;
  }
}

/* Responsive Celular */
@media (max-width: 600px) {
  form {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0 0.5rem;
  }
  button {
    grid-column: span 1;
  }
}
