$color-principal: #612f2f;
$color-secundario: #D9C99A;
$color-fondo: #F2EAD0;
$color-dorado: #BF8924;

$font-titulos: 'Pacifico', cursive;
$font-texto: 'Poppins', sans-serif;

$radius-boton: 20px;
$transicion: 0.3s;
